/* -------------------- CSS for all screens ------------------- */
body {
  font-family: 'Carme', sans-serif;
  margin: 0;
}
.header {
  font-family: 'Montserrat', sans-serif;
  height: 64px;
  width: 100%;
  background-color: #202124;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

/* unvisited link */
.header a { text-decoration: none; }
.header a:link { color: white; }
/* visited link */
.header a:visited { color: white; }
/* mouse over link */
.header a:hover { color: #eee; }
/* selected link */
.header a:active { color: #ccc; }

.nav-container-top-left {
  display: flex;
}
.nav-container-top-left a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.nav-container-top-right {
  display: flex;
}

.nav-link.selected {
  font-weight: bold;
}

.logo {
  height: 64px;
  padding-left: 16px;
}
.nav-link {
  height: 64px;
  margin-left: 12px
}
.full-screen-modal {
}
.full-screen-modal.hidden {
  display: none;
}
.pane-left {
  background-color: #cff;
}
.pane-left2 {
  background-color: #fcc;
}
.pane-right {
  background-color: #cfc;
}
.pane-container {
  padding: 0 20px;
}
.markdown-container {
  padding: 1px 0;
  /* background-color: rgba(255,255,255,0.5); */
}
/* ---------------- End of CSS for all screens ---------------- */

/* -------------- CSS for screens 992px or larger ------------- */
@media screen and (min-width:992px) {
  .pane {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-y: scroll;
  }
  .pane-left {
    left: 0;
    border-right: 1px solid #ccc;
  }
  .pane-left.displayed { left: 0; }
  .pane-left.hidden {}
  .pane-left2 {
    left: -50%;
    border-right: 1px solid #ccc;
  }
  .pane-left2.displayed {
    left: 0;
    animation-duration: 0.5s;
    animation-name: slideInFromLeft;
    animation-iteration-count: 1;
  }
  .pane-left2.hidden {
    left: -50%;
    animation-duration: 0.5s;
    animation-name: slideOutToLeft;
    animation-iteration-count: 1;
  }
.pane-right {
    right: -50%;
    background-color: #cfc;
  }
  .pane-container {
    margin-top: 64px;
    padding: 0 20px;
  }
}
.pane-right.displayed {
  right: 0;
  animation: slideInFromRight 0.5s ease 0s 1
}
.pane-right.hidden {
  right: -50%;
  animation: slideOutToRight 0.5s ease 0s 1
}
@keyframes slideInFromLeft {
  from { left: -50%; }
  to { left: 0; }
}
@keyframes slideOutToLeft {
  from { left: 0; }
  to { left: -50%; }
}
@keyframes slideInFromRight {
  from { right: -50%; }
  to { right: 0; }
}
  @keyframes slideOutToRight {
  from { right: 0; }
  to { right: -50%; }
}
/* ---------- End of CSS for screens 992px or larger ---------- */

/* ------------ CSS for screens smaller than 992px ------------ */
@media screen and (max-width:991.98px) {
  .main-container {
    top: 0;
  }
  .pane {
    width: 100%;
  }
  .pane-left {
    min-height: 100vh;
  }
  .pane-left .pane-container {
    padding-top: 64px;
  }
}
/* --------- End of CSS for screens smaller than 992px -------- */
